<mat-card>
	<mat-card-content>
		<h2>Hello, I'm Braxton</h2>
		<p>I am a talanted Freelance Web & Mobile App Developer based in Silver Spring, Maryland, specializing in User Interface/Experience and Application Development. I build clean, appealing, and functional interfaces which comply with the latest and greatest
			web standards.</p>
		<button mat-raised-button color="accent">
      <mat-icon aria-label="Share" svgIcon="share-variant"></mat-icon>&nbsp;Share
    </button>
		<mat-divider></mat-divider>
	</mat-card-content>
</mat-card>