@import '../../scss/variables';

.mat-card {
  margin: 15px 10px 10px 30px;
  padding: 40px 35px;

  .mat-card-content {
    font-size: 16px;
    line-height: 1.875em;

    .mat-divider {
      margin: 20px 0;
      position: initial;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.title-lg {
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.title {
  font-weight: normal;
  margin-top: 0;
}

.skills-container-1 {
  height: 200px;
  padding-right: 10px;

  .mat-spinner {
    margin: 40px auto 0;
  }
}

.skills-container-2 {
  height: 200px;
  padding-left: 10px;

  .mat-spinner {
    margin: 40px auto 0;
  }
}

.skills {
  margin-bottom: 10px;

  .name {
    font-weight: bold;
  }
}

.skill-spinner {
  margin-bottom: 10px;
  position: relative;

  > div {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .mat-progress-spinner {
    margin: 0 auto;
  }

  ~ .name {
    text-align: center;
  }
}

.my-likes {
  max-height: 225px;
  overflow-y: hidden;
  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 1, .5, 1);

  &.closed {
    max-height: 90px;
  }
}

.mat-list .mat-list-item {
  height: 40px;
}

.timeline {
  left: 50%;
  list-style: none;
  padding: 20px 0 0;
  position: relative;

  &::before {
    background-color: darken($timeline-background, 60%);
    bottom: 0;
    content: ' ';
    left: 0;
    margin-left: -2px;
    opacity: .15;
    position: absolute;
    top: 0;
    width: 4px;
  }

  li {
    box-sizing: border-box;
    display: block;
    left: -50%;
    min-height: 30px;
    position: relative;
    white-space: nowrap;
    width: 50%;

    .timeline-circ {
      background: $timeline-circle;
      border-color: $white !important;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      box-shadow: 0 1px 3px 0 rgba($black, .33);
      color: $white;
      height: 20px;
      left: 100%;
      line-height: 20px;
      margin-left: -13px;
      position: absolute;
      text-align: center;
      top: 15px;
      width: 20px;
    }

    .timeline-entry {
      display: inline-block;
      margin: 0 -3px 0 0;
      padding: 0;
      position: relative;
      vertical-align: top;
      white-space: normal;
      width: 100%;

      .card {
        background-color: $timeline-background;
        border-color: $timeline-background;
        border-radius: 2px;
        box-shadow: 0 1px 3px 0 rgba($black, .33);
        margin-right: 30px;
        position: relative;

        &::after,
        &::before {
          content: ' ';
          display: table;
        }

        .card-body {
          border-radius: 0 0 2px 2px;
          line-height: normal;
          padding: 12px;
          position: relative;

          img.avatar {
            border-radius: 50%;
            height: 70px;
            width: 70px;
          }

          h3 {
            color: darken($accent-color, 40%);
            font-size: 16px;
            margin: 2% 0 1%;
            text-transform: uppercase;
          }

          h4 {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 14px;
            margin: 0 0 5px;
          }

          h5 {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            font-weight: 700;
            margin: 0 0 5px;
          }
        }
      }
    }

    &.timeline-inverted .timeline-entry {
      left: 100%;

      .card {
        margin-bottom: 15px;
        margin-left: 30px;
        margin-right: 0;
      }
    }
  }
}

.view-more {
  margin: 30px 0 -20px !important;
  text-align: center;

  .mat-button {
    font-weight: normal;
  }
}

#experience {
  overflow: hidden;
  padding-bottom: 0;

  .mat-card-footer {
    margin: 30px 0;
    text-align: center;
  }
}

#portfolio {
  .mat-grid-tile {
    img {
      height: 100%;
      width: 100%;
    }

    .caption {
      background: rgba($black, .8);
      color: $white;
      cursor: pointer;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
      visibility: hidden;
      z-index: 2;

      .container {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
      }

      h3 {
        transform: translateY(-10px);
        transition: transform .4s ease-in-out;
      }

      .mat-raised-button {
        transform: translateY(10px);
        transition: transform .4s ease-in-out;
      }
    }

    &:hover .caption {
      opacity: 1;
      visibility: visible;

      .mat-raised-button,
      h3 {
        transform: translateY(0);
      }

    }
  }
}

.project-component .mat-dialog-container {
  padding: 50px 30px;
}

footer {
  margin: 15px 10px 10px 30px;
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 959px) {
  .mat-card {
    border-radius: initial;
    box-shadow: initial !important;
    margin: 0;
    padding: 20px;

    .view-more {
      margin-bottom: 0 !important;
    }
  }
}
@media (max-width: 599px) {
  .timeline {
    left: initial;
    margin: 0;
    padding: 0;

    &::before {
      content: initial;
    }

    li {
      left: initial;
      width: 100%;

      .timeline-circ {
        display: none;
      }

      .timeline-entry {
        left: initial !important;

        .card {
          margin: 10px 0 !important;
        }
      }
    }
  }

  .my-likes {
    max-height: 450px;
    &.closed {
      max-height: 180px;
    }
  }

  #portfolio .caption {
    h3 {
      font-size: 16px;
    }

    button {
      font-size: 12px;
    }
  }
}
