<mat-card id="about">
	<mat-card-content>
		<h2 class="title-lg">Hello, I'm Braxton</h2>
		<p>I am a talanted Freelance Web & Mobile App Developer based in Silver Spring, Maryland, specializing in User Interface/Experience and Application Development. I build clean, appealing, and functional interfaces which comply with the latest and greatest
			web standards.</p>
		<button color="accent" mat-raised-button>
			<mat-icon aria-label="Share" svgIcon="share-variant"></mat-icon>&nbsp;Share
		</button>
		<mat-divider></mat-divider>
		<div fxLayout="row" fxLayout.lt-sm="column">
			<div class="skills-container-1" fxFlex>
				<h2 class="title">professional skills</h2>
				<div *ngIf="!loadingSkills">
					<div *ngFor="let skill of skills[0]" class="skills">
						<div fxLayout="row">
							<div class="name" fxFlex>{{skill.name}}</div>
							<div>{{skill.value | skill}}%</div>
						</div>
						<mat-progress-bar mode="determinate" [value]="skill.value | skill"></mat-progress-bar>
					</div>
				</div>
				<mat-spinner *ngIf="loadingSkills"></mat-spinner>
			</div>
			<div class="skills-container-2" fxFlex>
				<h2 class="title">additional skills</h2>
				<div fxLayout="row" *ngIf="!loadingSkills">
					<div *ngFor="let skill of skills[1]" class="skills" fxLayout="column" fxFlex>
						<div class="skill-spinner">
							<mat-progress-spinner mode="determinate" [value]="skill.value | skill"></mat-progress-spinner>
							<div>{{skill.value | skill}}%</div>
						</div>
						<div class="name" fxFlex>{{skill.name}}</div>
					</div>
				</div>
				<mat-spinner *ngIf="loadingSkills"></mat-spinner>
			</div>
		</div>
		<mat-divider></mat-divider>
		<h2 class="title-lg" style="margin-bottom: 20px;">Things I&nbsp;<mat-icon aria-label="Heart" fontSet="linearicons" fontIcon="icon-heart"></mat-icon></h2>
		<div fxLayout="row" class="my-likes" [ngClass]="{'closed': !toggleLikes}">
			<mat-list *ngFor="let items of likes" fxFlex>
				<mat-list-item *ngFor="let item of items">
					<mat-icon fontSet="linearicons" fontIcon="{{item.icon}}" mat-list-icon></mat-icon>
					<h4 mat-line>{{item.title}}</h4>
				</mat-list-item>
			</mat-list>
		</div>
		<div class="view-more">
			<button (click)="toggleLikes = !toggleLikes" mat-button>View {{toggleLikes? 'Less' : 'More'}}</button>
		</div>
	</mat-card-content>
</mat-card>
<mat-card id="experience">
	<mat-card-content>
		<h2 class="title-lg">Work Experience</h2>
		<ul class="timeline">
			<li *ngFor="let company of employment; let isOdd=odd;" [class.timeline-inverted]="isOdd">
				<div class="timeline-circ"></div>
				<div class="timeline-entry">
					<div class="card">
						<div class="card-body" fxLayout="row">
							<div fxFlex="75px"><img [src]="company.image.icon" class="avatar" alt="{{company.name}}" /></div>
							<div fxFlex>
								<h3>{{company.position}}</h3>
								<h4>{{company.name}} ({{company.location}})</h4>
								<h5>
									<span class="start-date">{{company.date.start | amParse:'YYYY-MM-DD' | amDateFormat:'MMM YYYY'}}</span> &#8211; <span class="end-date" *ngIf="company.date.end">{{company.date.end | amParse:'YYYY-MM-DD' | amDateFormat:'MMM YYYY'}}</span> <span class="difference-date" *ngIf="company.date.end">({{company.date.end | amDifference: company.date.start: 'years'}} years)</span><span *ngIf="!company.date.end">Present</span>
								</h5>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</mat-card-content>
	<mat-card-footer>
		<a color="primary" class="download-resume" href="assets/resume/braxton-diggs.pdf" target="_blank" mat-raised-button>Download Resume</a>
	</mat-card-footer>
</mat-card>
<skills></skills>
<mat-card id="portfolio">
	<mat-card-content>
		<h2 class="title-lg">Working Projects</h2>
		<mat-grid-list cols="2">
			<span *ngFor="let project of projects">
				<mat-grid-tile *ngIf="project.status" [rowspan]="project.mobile?2:1" (click)="openProject(project)">
					<img [src]="project.image.screenshot" alt="{{project.title}}" />
					<div class="caption">
						<div class="container">
							<h3>{{project.title}}</h3>
							<p>{{project.summary}}</p>
							<button color="accent" mat-raised-button>View More</button>
						</div>
					</div>
				</mat-grid-tile>
			</span>
		</mat-grid-list>
	</mat-card-content>
</mat-card>
<contact id="contact"></contact>
<footer></footer>