@import '../../../scss/variables';

.mat-dialog-content {
  overflow: visible;
  .project_container {
    overflow: scroll;
    padding: 8px;
  }
}

.banner_img {
  max-height: 65vh;

  img {
    box-shadow: 0 3px 1px -2px rgba($black, .2), 0 2px 2px 0 rgba($black, .14), 0 1px 5px 0 rgba($black, .12);
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    max-width: 100%;
  }
}

.more_content a img {
  box-shadow: none;
  width: 150px;
}

@media (max-width: 599px) {
  .mat-dialog-content {
    max-height: 85vh;
    overflow: auto;
    .project_container {
      overflow: initial;
    }
    .banner_img img {
      width: 100%;
    }
  }
}
