$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/'; // bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss'; // endbower
@import 'linearicons';
@import 'colors';
@font-face {
  font-family: 'BandaRegular';
  src: url('fonts/regular.eot?') format('eot'), url('fonts/regular.woff') format('woff'), url('fonts/regular.ttf') format('truetype'), url('fonts/regular.svg#BandaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'elephantregular';
  src: url('fonts/elephnt-webfont.eot');
  src: url('fonts/elephnt-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/elephnt-webfont.woff') format('woff'), url('fonts/elephnt-webfont.ttf') format('truetype'), url('fonts/elephnt-webfont.svg#elephantregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Linearicons';
  src: url('fonts/Linearicons.eot');
  src: url('fonts/Linearicons.eot?#iefix') format('embedded-opentype'), url('fonts/Linearicons.woff') format('woff'), url('fonts/Linearicons.ttf') format('truetype'), url('fonts/Linearicons.svg#Linearicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@background-color: #4684ee;
@loader-color: #fff;

html {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: BandaRegular;
  font-size: 100%;
  line-height: 1.428571429;
}

.navbar-inverse {
  background-color: rgba(#fff, .6);
  z-index: 105;

  .navbar-nav {
    border-radius: 0 !important;
    float: none;
    font-family: 'futura_ltheavy', Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;

    li {
      display: inline-block;
      float: none;

       > a:focus,
      > a:hover {
        color: #000 !important;
      }
    }
  }

  .navbar-toggle {
    &:focus,
    &:hover {
      background-color: rgba(#fff, .8);
    }

    .icon-bar {
      background-color: #000;
    }
  }
}

h1 {
  font-size: 78px;
  text-align: center;
  color: #fff;
  margin: 170px 0 10px;
}

h2 {
  color: #fff;
  font-size: 1.5vw;
  margin: 0;
  padding-bottom: 140px;
  text-align: center;
}

h3 {
  font-size: 16px;
  color: #fff;
  margin: 30px auto;
  padding-bottom: .4em;
  width: 50%;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
}

.margin0 {
  margin: 0 !important;
}

.home-img {
  background-image: url('../images/home-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-bottom: 10%;
}

.logo-holder {
  width: 100%;
  height: 135px;
  text-align: center;
  padding-top: 130px;

  &2 {
    padding-top: 10px;
  }

  .logo {
    font-family: 'elephantregular',Arial, Helvetica, sans-serif;
    font-size: 48px;
    width: 100%;
    text-align: center;
    position: relative;

    .logo-blue {
      padding-top: 21px;
      background-color: #1caedd;
      width: 97px;
      height: 97px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      display: inline-block;
    }

    .name {
      font-size: 14px;
      color: #fff;
      letter-spacing: 1px;
      margin-top: 4px;
    }
  }
}

.blue {
  color: #1caedd;
}

.grey {
  color: #898989;
}

.hello-box {
  background-color: #000;
  padding: 2em 0 6%;

  .square {
    width: 100px;
    height: 100px;
    margin-top: 80px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 2px 5px 0 #444;
    -moz-box-shadow: 0 2px 5px 0 #444;
    -webkit-box-shadow: 0 2px 5px 0 #444;

    .pic {
      background: url('../images/braxton-diamond.jpg');
      width: 150px;
      height: 150px;
      margin: -25px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  h1.second {
    margin-top: 50px;
    min-height: 100px;
    opacity: 0;
  }
}

.block {
  padding-bottom: 3em;
  padding-top: 3em;
  position: relative;
}

#experience {
  background-color: #f0f0f0;

  h1.exp {
    color: #000;
    margin-top: 0;
    font-size: 58px;
    position: relative;
    opacity: 0;
  }

  .timeline {
    margin-top: 80px;
    list-style: none;
    list-style-type: none;
    padding: 0;
    overflow: hidden;

    &::after,
    &::before {
      display: table;
      content: '';
      line-height: 0;
    }

    &::after {
      clear: both;
    }

    ul {
      list-style: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding: 2em 0;

      &::after,
      &::before {
        display: table;
        content: '';
        line-height: 0;
      }

      li.timeline-item {
        float: left;
        width: 46%;
        padding: 2%;
        background: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin-top: -80px;
        position: relative;
        right: 30px;
        margin-left: 4%;
        clear: both;

        &::after,
        &::before {
          top: 50%;
          right: -20px;
          position: absolute;
          pointer-events: none;
          margin: -15px 0 0;
          font-size: 30px;
          height: 30px;
          line-height: 30px;
          width: 30px;
          text-align: center;
          font-family: FontAwesome;
          font-style: normal;
          speak: none;
          display: inline-block;
        }

        &::before {
          content: '\F0DA';
          color: #fff;
        }

        &::after {
          content: '\25c8';
          right: -45px;
        }

        &::first-child {
          margin-top: 0;
        }

        &.right {
          float: right;
          left: 30px;
          right: 0;
          margin-right: 4%;
          margin-left: 0;

          &::before {
            left: -20px;
          }

          &::after {
            left: -45px;
          }
        }

        .timeline-item-date {
          text-transform: uppercase;
          margin: 4% 0 0;
          font-size: 24px;
          color: #1caedd;
        }

        .timeline-item-role {
          margin: 0 0 5px;
          font-size: 16px;
          font-family: Arial, Helvetica, sans-serif;
        }

        h6 {
          margin: 0 0 5px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
        }

        .exp-logo-holder {
          width: 110px;
          height: 110px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          border: solid 2px #f0f0f0;
          display: inline-block;
          float: left;
          margin: 0 20px 10px 0;
          overflow: hidden;

          img.timeline-item-photo {
            float: left;
            margin-right: 1em;
            max-width: 90px;
          }
        }
      }
    }
  }

  .download-cv {
    margin-top: 20px;

    .btn-square {
      background-color: #10AF47 !important;
      border-style: none !important;
    }
  }
}

#work {
  padding-top: 6em;

  h1 {
    margin: 0 0 20px;
    color: #000;
    font-size: 58px;
  }

  #work-list {
    list-style: none;

    p {
      font-size: 14px;
      margin-bottom: 30px;
    }

    .work-link {
      max-width: 200px;
      display: block;
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
      }

      .click {
        color: #FFF;
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        text-align: center;
        background-color: #000;
        padding: 3px 0;
        opacity: .7;
        font-size: 14px;
        transition: all .5s ease;

        &:hover {
          text-decoration: none;
        }
      }
    }

    h4 {
      color: #1caedd;
      font-size: 20px;
    }

    li {
      clear: both;
      padding: 10px;
      overflow: auto;
      border: 2px solid #CCC;
      border-bottom: none;
      overflow: hidden;

      &:hover .work-link .click {
        bottom: 0;
      }

      &:first-child {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      &:last-child {
        border-bottom: 2px solid #CCC;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
  }
}

#skills {
  padding: 6em 0;

  h1.skills {
    color: #000;
    margin: 20px 0;
  }
}

#love {
  background-color: lighten(#1caedd, 10%);
  padding: 6em 0;

  h1 {
    margin: 0 0 20px;
    font-size: 58px;
  }

  ul {
    list-style: none;

    li {
      font-size: 16px;
      line-height: 32px;
      position: relative;

      span {
        color: #FFF;
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }
}

.icon-rick {
  background: url('../images/rickmorty.png') no-repeat center center;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: 25px 25px;
  position: absolute;
  bottom: 7px;
  left: -5px;

  + span {
    margin-left: 30px;
  }
}

.icon-pokemon {
  @extend .icon-rick;
  background: url('../images/pokemon.png') no-repeat center center;
  background-size: 25px 25px;
}

#contact {
  padding-top: 0;

  h1 {
    font-size: 50px;
    margin-bottom: 0;
  }

  h3 {
    font-size: 22px;
    color: #000;
    margin: 35px auto 0;
    width: 75%;
  }

  p {
    font-size: 16px;
  }

  #map-container {
    background-image: url('../images/contactmap.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 302px;

    img {
      z-index: 7;
      width: 300px;
      height: 229px;
      border-width: 4px;
      border-style: solid;
      border-color: #FFF;
      position: relative;
      margin-right: -10000px;
      margin-top: 214px;
      display: inline;
      float: left;
    }
  }

  h1.thanks {
    color: #000;
  }

  #contact-container {
    position: relative;

    #contact-form {
      font-size: 14px;
      margin-top: 30px;
    }

    #confirmation {
      margin: 20px 0;
      padding: 20px;
      border-left: 3px solid #eee;
      background-color: #dff0d8;
      border-color: #3c763d;

      h4 {
        font-size: 18px;
        color: #3c763d;
      }
    }
  }
}

footer {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #1caedd;

  #social {
    img {
      -webkit-transition: all 400ms linear;
      -moz-transition: all 400ms linear;
      -o-transition: all 400ms linear;
      -ms-transition: all 400ms linear;
      transition: all 400ms linear;

      &:hover {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.loader {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 30vh;
  opacity: .8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    display: inline-block;
    animation: pulse .4s alternate infinite ease-in-out;

    &:nth-child(odd) {
      animation-delay: .4s;
    }
  }
}

.loading {
  overflow-x: hidden;
  overflow-y: auto;
}
@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: .5;
  }
}
@media all and (max-width: 495px) {
  #map-container img {
    left: 0;
  }
}
/*Animations*/
@-webkit-keyframes top1 {
  0% {
    top: -200px;
    opacity: 0;
  }

  25% {
    top: -150px;
    opacity: 0;
  }

  50% {
    top: -100px;
    opacity: 0;
  }

  75% {
    top: -50px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes top1 {
  0% {
    top: -200px;
    opacity: 0;
  }

  25% {
    top: -150px;
    opacity: 0;
  }

  50% {
    top: -100px;
    opacity: 0;
  }

  75% {
    top: -50px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.top {
  -webkit-animation: top1 1.5s 1;
  -moz-animation: top1 1.5s 1;
  -o-animation: top1 1.5s 1;
  animation: top1 1.5s 1;
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade 2.5s 1;
  -moz-animation: fade 2.5s 1;
  -o-animation: fade 2.5s 1;
  animation: fade 2.5s 1;
}
@-webkit-keyframes fadee {
  0% {
    right: -100px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes fadee {
  0% {
    right: -100px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

.fade-in2 {
  -webkit-animation: fadee 2s 1;
  /* Safari 4+ */
  -moz-animation: fadee 2s 1;
  /* Fx 5+ */
  -o-animation: fadee 2s 1;
  /* Opera 12+ */
  animation: fadee 2s 1;
  /* IE 10+ */
  position: relative;
  opacity: 1 !important;
}

.fade-in3 {
  -webkit-animation: fade 2s 1;
  -moz-animation: fade 2s 1;
  -o-animation: fade 2s 1;
  animation: fade 2s 1;
}
@-webkit-keyframes left2 {
  0% {
    left: -100px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes left2 {
  0% {
    left: -100px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

.left-new {
  -webkit-animation: left2 1.5s 1;
  -moz-animation: left2 1.5s 1;
  -o-animation: left2 1.5s 1;
  animation: left2 1.5s 1;
  opacity: 1 !important;
}
@-webkit-keyframes bottomTotop {
  0% {
    top: 100px;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes bottomTotop {
  0% {
    top: 100px;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.bottomTotop {
  -webkit-animation: bottomTotop 3.5s 1;
  /* Safari 4+ */
  -moz-animation: bottomTotop 3.5s 1;
  /* Fx 5+ */
  -o-animation: bottomTotop 3.5s 1;
  /* Opera 12+ */
  animation: bottomTotop 3.5s 1;
  /* IE 10+ */
  position: relative;
}
@-webkit-keyframes works {
  0% {
    right: -100px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes works {
  0% {
    right: -100px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

.left-new2 {
  -webkit-animation: works 1.5s 1;
  /* Safari 4+ */
  -moz-animation: works 1.5s 1;
  /* Fx 5+ */
  -o-animation: works 1.5s 1;
  /* Opera 12+ */
  animation: works 1.5s 1;
  /* IE 10+ */
  opacity: 1 !important;
  position: relative;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 12px;
  }

  h3 {
    margin: 0 auto;
    width: 75%;
    font-size: 16px;
  }

  #experience .timeline ul li.timeline-item,
  #experience .timeline ul li.timeline-item.right {
    float: none;
    left: initial;
    margin: 10px 0;
    min-height: 138px;
    position: initial;
    right: initial;
    width: auto;

    &::after,
    &::before {
      display: none;
    }
  }

  #skillMenu,
  #skills {
    display: none;
  }

  #work #work-list {
    padding: 0;
  }
}
