<div class="social button-row" fxLayout="row">
	<a href="https://www.facebook.com/BiggDiggz" target="_blank" mat-icon-button>
		<mat-icon aria-label="Facebook" svgIcon="facebook"></mat-icon>
	</a>
	<a href="https://github.com/braxtondiggs" target="_blank" mat-icon-button>
		<mat-icon aria-label="Github" svgIcon="github-face"></mat-icon>
	</a>
	<a href="http://instagram.com/biggdiggz" target="_blank" mat-icon-button>
		<mat-icon aria-label="Instagram" svgIcon="instagram"></mat-icon>
	</a>
	<button (click)="openSnapQR()" mat-icon-button>
    <mat-icon aria-label="Snapchat" svgIcon="snapchat"></mat-icon>
  </button>
	<a href="mailto:braxtondiggs@gmail.com" target="_blank" mat-icon-button>
		<mat-icon aria-label="Email" svgIcon="at"></mat-icon>
	</a>
	<a href="https://soundcloud.com/braxton-diggs" target="_blank" mat-icon-button>
		<mat-icon aria-label="SoundCloud" svgIcon="soundcloud"></mat-icon>
	</a>
</div>