<div class="social button-row" fxLayout="row" fxLayoutAlign="center">
	<a href="https://www.facebook.com/BiggDiggz" (click)="ga.eventEmitter('social', 'facebook')" target="_blank" matTooltip="Facebook" mat-icon-button>
		<mat-icon aria-label="Facebook" svgIcon="facebook"></mat-icon>
	</a>
	<a href="https://github.com/braxtondiggs" (click)="ga.eventEmitter('social', 'github')" target="_blank" matTooltip="Github" mat-icon-button>
		<mat-icon aria-label="Github" svgIcon="github-face"></mat-icon>
	</a>
	<a href="http://instagram.com/biggdiggz" (click)="ga.eventEmitter('social', 'instagram')" target="_blank" matTooltip="Instagram" mat-icon-button>
		<mat-icon aria-label="Instagram" svgIcon="instagram"></mat-icon>
	</a>
	<button (click)="openSnapQR(); ga.eventEmitter('social', 'snapchat')" matTooltip="Snapchat" mat-icon-button>
		<mat-icon aria-label="Snapchat" svgIcon="snapchat"></mat-icon>
	</button>
	<a href="mailto:braxtondiggs@gmail.com" (click)="ga.eventEmitter('social', 'mail')" target="_blank" matTooltip="Email" mat-icon-button>
		<mat-icon aria-label="Email" svgIcon="at"></mat-icon>
	</a>
	<a href="https://soundcloud.com/braxton-diggs" (click)="ga.eventEmitter('social', 'soundcloud')" target="_blank" matTooltip="SoundCloud" mat-icon-button>
		<mat-icon aria-label="SoundCloud" svgIcon="soundcloud"></mat-icon>
	</a>
</div>
