<mat-card>
	<mat-card-content>
		<h2 class="title-lg">Contact Me</h2>
		<social></social>
		<p>I would love to hear what you think. Drop me a line, whether it is praise or criticism, a question, a suggestion, or just a hello. I am currently available for new projects, so if you have a request go ahead and send it!</p>
		<p>If you'd like to contact me directly, please email me at <a>braxtondiggs@gmail.com</a>. I can provide phone number and more information if the situation warrants.</p>
		<form class="contact-form">
			<mat-form-field>
				<input placeholder="Your Name" type="text" matInput>
			</mat-form-field>
			<mat-form-field>
				<input placeholder="Your Email" type="email" matInput>
			</mat-form-field>
			<mat-form-field>
				<input placeholder="Subject" type="text" matInput>
			</mat-form-field>
			<mat-form-field>
				<textarea placeholder="Your Message" matAutosizeMinRows="8" matInput matTextareaAutosize></textarea>
			</mat-form-field>
			<button color="primary" type="submit" mat-raised-button>Submit</button>
		</form>
	</mat-card-content>
</mat-card>