@import "../../../scss/variables";

.mat-card {
  margin: 15px 10px 10px 30px;
  padding: 40px 35px;
}

.contact-form {
  > *:not(button) {
    width: 100%;
  }

  .mat-form-field {
    margin-bottom: 16px;
  }

  .submit-container {
    text-align: right;
  }
}

app-social {
  display: block;
  margin: 0 0 20px -15px;
}

.title-lg {
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.contact-map {
  height: 180px;

  .background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: -40px -35px;

    img {
      border-radius: 50%;
      height: 100px;
      position: absolute;
      right: 20px;
      top: 10px;
      width: 100px;
    }
  }
}
@media (max-width: 959px) {
  .mat-card {
    border-radius: initial;
    box-shadow: initial !important;
    margin: 0;
    padding: 20px;
  }

  .contact-map {
    height: 120px;

    .background {
      margin: -20px;

      img {
        height: 75px;
        width: 75px;
      }
    }
  }
}
