@import '../../../scss/variables';

.mat-card {
  margin: 15px 10px 10px 30px;
  padding: 40px 35px;
}

.contact-form {
  > *:not(button) {
    width: 100%;
  }

  .mat-input-container {
    margin-bottom: 16px;
  }

  .submit-container {
    text-align: right;
  }
}

social {
  display: block;
  margin: 0 0 20px -15px;
}

.title-lg {
  font-size: 30px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.contact-map {
  height: 140px;

  .background {
    background: url('../../../assets/contactmap.png') no-repeat;
    background-size: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    img {
      border-radius: 50%;
      height: 100px;
      position: absolute;
      right: 20px;
      top: 10px;
      width: 100px;
    }
  }
}
@media (max-width: 959px) {
  .mat-card {
    border-radius: initial;
    box-shadow: initial !important;
    margin: 0;
    padding: 20px;
  }
}
