a {
  margin-bottom: 4px;

  &:nth-child(odd) {
    margin-right: 4px;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.loading {
  margin: 150px auto;
}

.instagram {
  margin-bottom: -4px;
}

.title {
  margin: 8px;
  text-align: center;

  .mat-icon {
    vertical-align: middle;
  }
}
