<div class="instagram" *ngIf="(instagram$ | async) as instagram; else loading">
	<h2 class="title">
		<mat-icon aria-label="Instagram" svgIcon="instagram"></mat-icon>&nbsp;Instagram
	</h2>
	<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutAlign.xs="start center">
		<a [href]="item.Url" *ngFor="let item of instagram" fxFlex="calc(50% - 4px)" target="_blank" rel="noopener" matRipple>
			<img [lazyLoad]="item.SourceUrl" [alt]="item.Caption" matTooltipPosition="before" [matTooltip]="item.Caption" />
		</a>
	</div>
</div>
<ng-template #loading>
	<mat-spinner class="loading"></mat-spinner>
</ng-template>
