@import '../../scss/variables';

.avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

sidenav {
  margin-top: 5px;
}

.snapchatqr .mat-dialog-container {
  background: transparent;
  box-shadow: initial;
}

.side-scroll > div {
  position: sticky;
  top: 15px;
}

app-side-nav.side-scroll > div {
  top: 0;
}

profilebox.side-scroll > div {
  top: 0;
  width: 290px;
}

@media (max-width: 959px) {
  .side-scroll > div {
    position: initial !important;
    width: initial !important;
  }

  sidenav {
    background-color: $background;
    padding: 15px 0;
  }
}
