.avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

side-nav {
  margin-top: 5px;
}

.snapchat-qr .mat-dialog-container {
  background: transparent;
  box-shadow: initial;
}

.side-scroll > div {
  position: fixed;
  top: 5px;
}

profile-box.side-scroll > div {
  top: 0;
  width: 290px;
}
