<div class="flex flex-row lg:flex-col gap-5">
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="About Me"
    (click)="ga.eventEmitter('nav', 'about'); scrollToSection('about')"
    aria-label="About"
  >
    <img
      lazyLoad="assets/braxton/profile.png"
      class="w-8 h-8 rounded-full"
      alt="Braxton Diggs"
    />
  </button>
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="Experience"
    (click)="
      ga.eventEmitter('nav', 'experience'); scrollToSection('experience')
    "
    aria-label="Experience"
  >
    <ng-icon name="featherBriefcase" size="1.5rem"></ng-icon>
  </button>
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="Skills"
    (click)="ga.eventEmitter('nav', 'skills'); scrollToSection('skills')"
    aria-label="Skills"
  >
    <ng-icon name="featherActivity" size="1.5rem"></ng-icon>
  </button>
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="Portfolio"
    (click)="ga.eventEmitter('nav', 'portfolio'); scrollToSection('portfolio')"
    aria-label="Portfolio"
  >
    <ng-icon name="featherCode" size="1.5rem"></ng-icon>
  </button>
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="Contact"
    (click)="ga.eventEmitter('nav', 'contact'); scrollToSection('contact')"
    aria-label="Contact"
  >
    <ng-icon name="featherMail" size="1.5rem"></ng-icon>
  </button>
</div>
