<div fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign.lt-md="center" fxLayoutGap="20px">
	<button matTooltip="About Me" matTooltipPosition="before" href="#about" mat-icon-button pageScroll>
		<img src="assets/braxton/profile.jpg" class="avatar" alt="Braxton Diggs" />
	</button>
	<button matTooltip="Experience" matTooltipPosition="before" href="#experience" mat-icon-button pageScroll>
		<mat-icon aria-label="Experience" svgIcon="briefcase-outline"></mat-icon>
	</button>
	<button matTooltip="Skills" matTooltipPosition="before" href="#skills" mat-icon-button pageScroll>
		<mat-icon aria-label="Skills" svgIcon="chart-line"></mat-icon>
	</button>
	<button matTooltip="Portfolio" matTooltipPosition="before" href="#portfolio" mat-icon-button pageScroll>
		<mat-icon aria-label="Portfolio" svgIcon="xml"></mat-icon>
	</button>
	<!--<button matTooltip="My Music" matTooltipPosition="before" href="#music" mat-icon-button pageScroll>
		<mat-icon aria-label="My Music" svgIcon="music-box-outline"></mat-icon>
	</button>-->
	<button matTooltip="Contact" matTooltipPosition="before" href="#contact" mat-icon-button pageScroll>
		<mat-icon aria-label="Contact" svgIcon="email-outline"></mat-icon>
	</button>
</div>