<div fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign.lt-md="center" fxLayoutGap="20px">
	<button matTooltip="About Me" (click)="ga.eventEmitter('nav', 'about')" matTooltipPosition="before" aria-label="About" href="#about" mat-icon-button pageScroll>
		<img src="assets/braxton/profile.png" class="avatar" alt="Braxton Diggs" />
	</button>
	<button matTooltip="Experience" (click)="ga.eventEmitter('nav', 'experience')" matTooltipPosition="before" aria-label="Experience" href="#experience" mat-icon-button pageScroll>
		<mat-icon aria-label="Experience">briefcase-outline</mat-icon>
	</button>
	<button matTooltip="Skills" (click)="ga.eventEmitter('nav', 'skills')" matTooltipPosition="before" aria-label="Skills" href="#skills" mat-icon-button pageScroll>
		<mat-icon aria-label="Skills">chart-line</mat-icon>
	</button>
	<button matTooltip="Portfolio" (click)="ga.eventEmitter('nav', 'portfolio')" matTooltipPosition="before" aria-label="Portfolio" href="#portfolio" mat-icon-button pageScroll>
		<mat-icon aria-label="Portfolio">xml</mat-icon>
	</button>
	<!--<button matTooltip="My Music" (click)="ga.eventEmitter('nav', 'music')" matTooltipPosition="before" aria-label="Music" href="#music" mat-icon-button pageScroll>
		<mat-icon aria-label="My Music">music-box-outline</mat-icon>
	</button>-->
	<button matTooltip="Contact" (click)="ga.eventEmitter('nav', 'contact')" matTooltipPosition="before" aria-label="Contact" href="#contact" mat-icon-button pageScroll>
		<mat-icon aria-label="Contact">email-outline</mat-icon>
	</button>
</div>
