<div>
  <div class="card bg-accent-content shadow-xl mb-4 text-neutral-content">
    <div class="card-body text-center">
      <img
        lazyLoad="assets/braxton/profile.png"
        class="w-24 h-24 rounded-full mx-auto mb-4"
        alt="Braxton Diggs"
      />
      <div class="card-info">
        <h2 class="card-title justify-center text-3xl mb-2">Braxton Diggs</h2>
        <p class="text-base-content/70 mb-4">Front-end Developer</p>
      </div>
      <app-social></app-social>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl min-h-80">
    <app-instagram></app-instagram>
  </div>
</div>
