@import '../../scss/variables';

.avatar {
  border: 0;
  border-radius: 50%;
  display: block;
  height: 195px;
  margin: 0 auto;
  vertical-align: middle;
  width: 195px;
}

.mat-card {
  margin: 15px 10px 0 30px;
  padding: 30px 0 10px;

  &:first-child {
    background: $accent-color;
  }
}

.instagram-container {
  min-height: 300px;
  overflow: hidden;
  padding: 0;
}

.mat-card-content {
  margin: 0;

  &:first-child {
    margin-top: 0;
  }
}

.card-info {
  margin-top: 33px;
  text-align: center;

  h2 {
    font-size: 23px;
    margin: 0 0 16px;
    text-transform: uppercase;
  }

  p {
    font-size: 16px;
    opacity: .75;
  }
}

.mat-card-footer {
  margin: 0;
  padding: 34px 20px;
  text-align: center;

  .download-resume {
    margin: 0 auto;
  }
}

social {
  display: block;
}
@media (max-width: 959px) {
  .mat-card {
    border-radius: initial;
    box-shadow: initial !important;
    margin: 0;
    padding: 20px;
  }
}
