<mat-card>
	<mat-card-content>
		<img src="http://via.placeholder.com/200x200" class="avatar" alt="Braxton Diggs" />
		<div class="card-info">
			<h2>Braxton Diggs</h2>
			<p>Front-end Developer</p>
		</div>
		<div class="social button-row" fxLayout="row">
			<a href="https://www.facebook.com/BiggDiggz" target="_blank" mat-icon-button>
				<mat-icon aria-label="Facebook" svgIcon="facebook"></mat-icon>
			</a>
			<a href="https://github.com/braxtondiggs" target="_blank" mat-icon-button>
				<mat-icon aria-label="Github" svgIcon="github-face"></mat-icon>
			</a>
			<a href="http://instagram.com/biggdiggz" target="_blank" mat-icon-button>
				<mat-icon aria-label="Instagram" svgIcon="instagram"></mat-icon>
			</a>
			<button (click)="openSnapQR()" mat-icon-button>
				<mat-icon aria-label="Snapchat" svgIcon="snapchat"></mat-icon>
			</button>
			<a href="mailto:braxtondiggs@gmail.com" target="_blank" mat-icon-button>
				<mat-icon aria-label="Email" svgIcon="at"></mat-icon>
			</a>
			<a href="https://soundcloud.com/braxton-diggs" target="_blank" mat-icon-button>
				<mat-icon aria-label="SoundCloud" svgIcon="soundcloud"></mat-icon>
			</a>
		</div>
	</mat-card-content>
	<mat-card-footer>
		<a color="primary" class="download-resume" href="assets/resume/braxton-diggs.pdf" target="_blank" mat-raised-button>Download Resume</a>
	</mat-card-footer>
</mat-card>
<mat-card id="instagram">
	<mat-card-content>
		<h2 class="title"><mat-icon aria-label="Instagram" svgIcon="instagram"></mat-icon>&nbsp;Instagram</h2>
		<div id="instafeed" style="display: none"></div>
		<div id="instacontent" fxLayout="row" fxLayoutGap="2px" *ngIf="!insta_loading" fxLayoutWrap>
			<a [attr.href]="post.link" target="_blank" fxFlex="calc(33% - 2px)" *ngFor="let post of instagram | async">
				<img [attr.src]="post.images.thumbnail.url" style="width:100%;height: calc(100% - 2px);" alt="" />
			</a>
		</div>
		<mat-spinner *ngIf="insta_loading"></mat-spinner>
	</mat-card-content>
</mat-card>