<mat-card>
	<mat-card-content>
		<img src="http://via.placeholder.com/200x200" class="avatar" alt="Braxton Diggs" />
		<div class="card-info">
			<h2>Braxton Diggs</h2>
			<p>Front-end Developer</p>
		</div>
	</mat-card-content>
	<mat-card-footer>
		<div class="social button-row" fxLayout="row">
			<button mat-icon-button>
				<mat-icon aria-label="Facebook" svgIcon="facebook"></mat-icon>
			</button>
			<button mat-icon-button>
				<mat-icon aria-label="Github" svgIcon="github-face"></mat-icon>
			</button>
			<button mat-icon-button>
				<mat-icon aria-label="Instagram" svgIcon="instagram"></mat-icon>
			</button>
			<button mat-icon-button>
				<mat-icon aria-label="Snapchat" svgIcon="snapchat"></mat-icon>
			</button>
			<button mat-icon-button>
				<mat-icon aria-label="Email" svgIcon="at"></mat-icon>
			</button>
			<button mat-icon-button>
				<mat-icon aria-label="SoundCloud" svgIcon="soundcloud"></mat-icon>
			</button>
		</div>
	</mat-card-footer>
</mat-card>