.mat-card {
  margin: 15px 10px 10px 30px;

  .title-lg {
    font-size: 30px;
    line-height: normal;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  .center {
    text-align: center;
  }

  .mat-tab-header {
    margin-bottom: 60px;
  }

  .highcharts-container {
    max-width: 720px;
    width: 100% !important;
  }

  a {
    color: #010101;
  }
}
@media (max-width: 959px) {
  .mat-card {
    border-radius: initial;
    box-shadow: initial !important;
    margin: 0;
    padding: 20px;
  }
}
