<mat-card id="skills" animateOnScroll class="animated" animationName="fadeInUp">
	<mat-card-content>
		<h2 class="title-lg">My "Real-Time" Coding</h2>
		<form [formGroup]="form" class="center">
			<p>See exactly when & what my coding activity is using <a href="https://wakatime.com/">WakaTime</a>.</p>
			<mat-form-field>
				<mat-select #selector formControlName="range" (selectionChange)="selectionChange($event)">
					<mat-option value="yesterday">Yesterday</mat-option>
					<mat-option value="last7days">Last 7 Days</mat-option>
					<mat-option value="thisweek">This Week</mat-option>
					<mat-option value="lastweek">Last Week</mat-option>
					<mat-option value="last14days">Last 14 Days</mat-option>
					<mat-option value="last30days">Last 30 Days</mat-option>
					<mat-option value="thismonth">This Month</mat-option>
					<mat-option value="lastmonth">Last Month</mat-option>
					<mat-option value="customrange" (click)="openCustomRange()">Custom Range</mat-option>
				</mat-select>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate" style="display: none">
          <input matStartDate formControlName="start" (dateChange)="dateRangeChange()" />
          <input matEndDate formControlName="end" (dateChange)="dateRangeChange()" />
        </mat-date-range-input>
        <mat-date-range-picker #picker></mat-date-range-picker>
			</mat-form-field>
			<h4 *ngIf="form.valid && form.value.range === 'customrange'">{{form.value.start | amDateFormat:'MMM Do YYYY' }} - {{form.value.end | amDateFormat:'MMM Do YYYY' }}</h4>
		</form>
		<mat-tab-group (selectedTabChange)="selectedTabChange($event)">
			<mat-tab label="Languages">
				<highcharts-chart *ngIf="chart.languages && chart.languages.series && chart.languages.series[0] && chart.languages.series[0]" [options]="chart.languages" [Highcharts]="Highcharts" [(update)]="updateFlag" [callbackFunction]="chartCallbackLang.bind(this)"></highcharts-chart>
			</mat-tab>
			<!--<mat-tab label="Activity">
				<highcharts-chart [options]="chart.activity" [Highcharts]="Highcharts" [(update)]="updateFlag" [callbackFunction]="chartCallbackAct.bind(this)"></highcharts-chart>
			</mat-tab>-->
			<mat-tab label="Editors">
				<highcharts-chart [options]="chart.editors" [Highcharts]="Highcharts" [(update)]="updateFlag" [callbackFunction]="chartCallbackEditor.bind(this)"></highcharts-chart>
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>
