.container {
  margin: 0 auto;
  padding: 0 20px;
}

.top-fab {
  bottom: 20px;
  position: fixed;
  right: 20px;
}

header {
  margin-bottom: 20px;
}

[hidden] {
  visibility: hidden;
}

@media (min-width: 992px) {
  .container {
    max-width: 1196px;
  }
}
