.container {
  margin: 0 auto;
  padding: 0 20px;
}

.top-fab {
  bottom: 20px;
  position: fixed;
  right: 20px;
  z-index: 10;
}

header {
  margin-bottom: 20px;
  overflow: hidden;
}

[hidden] {
  visibility: hidden;
}

#crtBgShape1,
#crtBgShape2 {
  position: fixed;
  top: 0;
  z-index: -1;
}

#crtBgShape1 {
  left: 0;

  polygon {
    fill: #e1e1e1;
  }
}

#crtBgShape2 {
  right: -100px;
  top: -100px;

  polygon {
    fill: #c0e3e7;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1196px;
  }
}
@media (max-width: 959px) {
  .container {
    padding: 0;
  }
}
