@import "../scss/variables";

.container {
  margin: 0 auto;
  padding: 0 20px;

  &.show-track {
    margin-bottom: 75px;
  }
}

.top-fab.mat-fab {
  bottom: 20px;
  position: fixed;
  right: 20px;
  z-index: 10;

  &.show-track {
    bottom: 100px;
  }
}

app-header {
  overflow: hidden;

  .header-title {
    margin-left: 340px;
    visibility: hidden;
  }
}

[hidden] {
  visibility: hidden;
}

a {
  color: $text;
}

#crtBgShape1,
#crtBgShape2 {
  position: fixed;
  top: 0;
  z-index: -1;
}

#crtBgShape1 {
  left: 0;

  polygon {
    fill: $background-shape1;
  }
}

#crtBgShape2 {
  right: -100px;
  top: -100px;

  polygon {
    fill: $background-shape2;
  }
}

.animated {
  opacity: 0;
  transform: translate(0, 100px);
  visibility: hidden;
}

.fadeInUp {
  backface-visibility: hidden;
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.3s ease-out 0.1s, opacity 0.3s ease-out 0.1s,
    opacity 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s !important;
  visibility: visible;
}

.music-footer {
  bottom: 0;
  height: 75px;
  left: 0;
  position: fixed;
  right: 0;
}

@media (min-width: 992px) {
  .container {
    max-width: 1196px;
  }
}
@media (max-width: 959px) {
  .container {
    padding: 0;
  }
}
