<ngx-loading-bar />
<app-header />
<div
  class="container flex flex-col lg:flex-row mx-auto pt-5 lg:max-w-[1196px] md:px-0 gap-0 md:gap-8 md:mt-10 z-10 relative"
  [class.mb-[75px]]="isScroll()"
  [ngClass]="{ 'side-scroll': isScroll() }"
>
  <app-profile-box [class]="isScroll() ? 'side-scroll' : ''" [ngClass]="{ 'side-scroll': isScroll() }" />
  <app-content />
  <app-side-nav [class]="isScroll() ? 'side-scroll' : ''" [ngClass]="{ 'side-scroll': isScroll() }" />
</div>
<svg id="crtBgShape1" height="519" width="758" class="fixed top-0 left-0 z-0">
  <polygon class="pol fill-[#e1e1e1]" points="0,455,693,352,173,0,92,0,0,71" />
</svg>
<svg id="crtBgShape2" height="536" width="633" class="fixed top-[-100px] right-[-100px]">
  <polygon class="fill-[#c0e3e7]" points="0,0,633,0,633,536" />
</svg>
<button
  type="button"
  class="fixed z-20 transition-all duration-300 btn btn-neutral btn-circle btn-lg bottom-6 right-6"
  [class.opacity-0]="!isScroll() || modalOpen"
  [class.pointer-events-none]="!isScroll() || modalOpen"
  (click)="trackScrollToTop(); scrollToTop()"
  title="Back to Top"
>
  <ng-icon name="featherChevronsUp" size="1.5rem" />
</button>
