<ngx-loading-bar></ngx-loading-bar>
<header></header>
<div class="container" fxLayout="row" fxLayout.lt-md="column" [ngClass]="{'show-track': track}">
	<profilebox [ngClass]="{'side-scroll': isScroll()}" fxFlex="290px" fxFlex.lt-md="100%" fxFlexOrder.lt-md="1"></profilebox>
	<content fxFlex.lt-md="100%" fxFlexOrder.lt-md="2"></content>
	<sidenav [ngClass]="{'side-scroll': isScroll()}" fxFlex="56px" fxFlex.lt-md="100%" fxFlexOrder.lt-md="0"></sidenav>
</div>
<svg id="crtBgShape1" height="519" width="758"><polygon class="pol" points="0,455,693,352,173,0,92,0,0,71"></polygon> </svg>
<svg id="crtBgShape2" height="536" width="633"> <polygon points="0,0,633,0,633,536"></polygon> </svg>
<button class="top-fab" [ngClass]="{'show-track': track}" matTooltip="Back to Top" matTooltipPosition="before" pageScrollTarget="body" defaultScrollOffset="0" [hidden]="!isScroll()" pageScroll mat-fab>
	<mat-icon aria-label="Back to Top" svgIcon="chevron-double-up"></mat-icon>
</button>
<div class="music-footer animated" [ngClass]="{'fadeInUp': track}">
	<div class="container" fxLayout="row" *ngIf="track">
		<div class="image-container">
			<img [src]="track.image" alt="{{track.name}} by {{track.artist[0].name}}" />
			<span>
				<mat-icon svgIcon="play-circle-outline"></mat-icon>
			</span>
		</div>
		<div class="footer-container">
			<h2>{{track.name}}</h2>
			<p><span *ngFor="let artist of track.artist; let last = last">{{artist.name}}&nbsp;<span *ngIf="!last">,</span></span>
			</p>
		</div>
	</div>
	<div class="container">
		<mat-progress-bar color="accent" mode="determinate" [value]="duration"></mat-progress-bar>
	</div>
</div>