<div
  class="md:flex flex-row gap-5 lg:flex-col w-[56px] order-1 lg:order-3 lg:sticky top-4 mt-4 lg:mt-0 self-start z-20 -mb-4 lg:-mb-0 hidden"
>
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="About Me"
    (click)="scrollToSection('about')"
    aria-label="About"
  >
    <div class="avatar">
      <div class="w-10 rounded-full">
        <img appLazyLoadFade="assets/braxton/profile.png" alt="Braxton Diggs" />
      </div>
    </div>
  </button>
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="Experience"
    (click)="scrollToSection('experience')"
    aria-label="Experience"
  >
    <ng-icon name="featherBriefcase" size="1.5rem" />
  </button>
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="Skills"
    (click)="scrollToSection('skills')"
    aria-label="Skills"
  >
    <ng-icon name="featherActivity" size="1.5rem" />
  </button>
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="Portfolio"
    (click)="scrollToSection('portfolio')"
    aria-label="Portfolio"
  >
    <ng-icon name="featherCode" size="1.5rem" />
  </button>
  <button
    type="button"
    class="btn btn-ghost btn-circle tooltip tooltip-left"
    data-tip="Contact"
    (click)="scrollToSection('contact')"
    aria-label="Contact"
  >
    <ng-icon name="featherMail" size="1.5rem" />
  </button>
</div>
