<div
  id="skills"
  animateOnScroll
  class="mb-6 shadow-xl card bg-base-100 animated"
  animationName="fadeInUp"
>
  <div class="card-body">
    <h2 class="mb-6 text-3xl font-bold card-title">My "Real-Time" Coding</h2>
    <form [formGroup]="form" class="mb-6 text-center">
      <p class="mb-4 text-base-content/80">
        See exactly when & what my coding activity is using
        <a href="https://wakatime.com/" class="link link-accent">WakaTime</a>.
      </p>
      <div class="w-full max-w-xs mx-auto form-control">
        <select
          #selector
          formControlName="range"
          (change)="selectionChange($event)"
          class="select select-bordered"
        >
          <option value="yesterday">Yesterday</option>
          <option value="last7days">Last 7 Days</option>
          <option value="thisweek">This Week</option>
          <option value="lastweek">Last Week</option>
          <option value="last14days">Last 14 Days</option>
          <option value="last30days">Last 30 Days</option>
          <option value="thismonth">This Month</option>
          <option value="lastmonth">Last Month</option>
          <option value="customrange" (click)="openCustomRange()">
            Custom Range
          </option>
        </select>
      </div>
      <div class="hidden">
        <input
          type="date"
          formControlName="start"
          (change)="dateRangeChange()"
        />
        <input type="date" formControlName="end" (change)="dateRangeChange()" />
      </div>
      @if (form.valid && form.value.range === 'customrange') {
      <h4 class="mt-4 text-lg font-medium">
        {{ form.value.start | amParse | amDateFormat : "MMM Do YYYY" }} -
        {{ form.value.end | amParse | amDateFormat : "MMM Do YYYY" }}
      </h4>
      }
    </form>
    <div role="tablist" class="tabs tabs-bordered">
      <a
        role="tab"
        class="tab"
        [class.tab-active]="selectedTabIndex === 0"
        (click)="selectedTabChange({ index: 0 })"
        (keydown.enter)="selectedTabChange({ index: 0 })"
        aria-label="Languages"
        tabindex="0"
      >
        Languages
      </a>
      <a
        role="tab"
        class="tab"
        [class.tab-active]="selectedTabIndex === 1"
        (click)="selectedTabChange({ index: 1 })"
        (keydown.enter)="selectedTabChange({ index: 1 })"
        aria-label="Activity"
        tabindex="0"
      >
        Activity
      </a>
      <a
        role="tab"
        class="tab"
        [class.tab-active]="selectedTabIndex === 2"
        (click)="selectedTabChange({ index: 2 })"
        (keydown.enter)="selectedTabChange({ index: 2 })"
        aria-label="Editors"
        tabindex="0"
      >
        Editors
      </a>
    </div>

    <!-- Tab Content -->
    @if (selectedTabIndex === 0) {
    <div class="p-6">
      <div class="w-full max-w-full overflow-hidden">
        @if ( chart.languages && chart.languages.series &&
        chart.languages.series[0] && chart.languages.series[0] ) {
        <highcharts-chart
          [options]="chart.languages"
          [Highcharts]="Highcharts"
          [(update)]="updateFlag"
          [callbackFunction]="chartCallbackLang.bind(this)"
          class="w-full max-w-full"
        >
        </highcharts-chart>
        }
      </div>
    </div>
    } @if (selectedTabIndex === 1) {
    <div class="p-6">
      <div class="w-full max-w-full overflow-hidden">
        <highcharts-chart
          [options]="chart.activity"
          [Highcharts]="Highcharts"
          [(update)]="updateFlag"
          [callbackFunction]="chartCallbackAct.bind(this)"
          class="w-full max-w-full"
        >
        </highcharts-chart>
      </div>
    </div>
    } @if (selectedTabIndex === 2) {
    <div class="p-6">
      <div class="w-full max-w-full overflow-hidden">
        <highcharts-chart
          [options]="chart.editors"
          [Highcharts]="Highcharts"
          [(update)]="updateFlag"
          [callbackFunction]="chartCallbackEditor.bind(this)"
          class="w-full max-w-full"
        >
        </highcharts-chart>
      </div>
    </div>
    }
  </div>
</div>
