@font-face {
  font-family: "Linearicons";
  font-display: swap;
  src: url("../fonts/LinearIcons/Linearicons.eot");
  src: url("../fonts/LinearIcons/Linearicons.eot?#iefix") format("embedded-opentype"),
    url('../fonts/LinearIcons/Linearicons.woff2') format('woff2'),
    url('../fonts/LinearIcons/Linearicons.woff') format('woff'),
    url("../fonts/LinearIcons/Linearicons.ttf") format("truetype"),
    url("../fonts/LinearIcons/Linearicons.svg#Linearicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BandaRegular";
  font-display: swap;
  src: url("../fonts/BandaRegular/banda.eot");
  src: url("../fonts/BandaRegular/banda.eot") format("eot"),
    url("../fonts/BandaRegular/banda.woff") format("woff"),
    url("../fonts/BandaRegular/banda.ttf") format("truetype"),
    url("../fonts/BandaRegular/banda.svg#BandaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
