@font-face {
  font-family: "BandaRegular";
  font-display: swap;
  src: url("../fonts/BandaRegular/banda.eot");
  src: url("../fonts/BandaRegular/banda.eot") format("eot"),
    url("../fonts/BandaRegular/banda.woff") format("woff"),
    url("../fonts/BandaRegular/banda.ttf") format("truetype"),
    url("../fonts/BandaRegular/banda.svg#BandaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
