[class*=' icon-'],
[class^='icon-'] {
  font-family: 'Linearicons';
  // Enable Ligatures ================
  -webkit-font-feature-settings: 'liga';
  -moz-font-feature-settings: 'liga';
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga';
  // Better Font Rendering ===========
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
}

.icon-heart::before {
  content: '\e68c';
}

.icon-coffee-cup::before {
  content: '\e828';
}

.icon-game::before {
  content: '\e684';
}

.icon-chef::before {
  content: '\e813';
}

.icon-headphones::before {
  content: '\e6ef';
}

.icon-glass-cocktail::before {
  content: '\e80f';
}

.icon-camera::before {
  content: '\e6ff';
}

.icon-football::before {
  content: '\e864';
}

.icon-bicycle2::before {
  content: '\e860';
}

.icon-lamp::before {
  content: '\e7bc';
}

.icon-car::before {
  content: '\e84a';
}
