$accent-color: #c0e3e7;
$black: #000;
$white: #fff;
$text: #2c3e50;
$background: #f3f3f3;
$calendar-background: #e8eaf6;
$background-shape1: #e1e1e1;
$background-shape2: $accent-color;
$timeline-circle: #7f8c8d;
$timeline-background: #f2f3f3;