@import "~@angular/material/theming";
@import "./variables";

$md-primary: (
  50: #f7fcfc,
  100: #ecf7f8,
  200: #e0f1f3,
  300: #d3ebee,
  400: #c9e7eb,
  500: #c0e3e7,
  600: #bae0e4,
  700: #b2dce0,
  800: #aad8dd,
  900: #9cd0d7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #f9feff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$general-typography: mat-typography-config(
  $font-family: "BandaRegular",
  $title: mat-typography-level(23px, 1.4em, 700),
  $subheading-1: mat-typography-level(14px, 1.4em, 700),
  $subheading-2: mat-typography-level(16px, 1.4em, 700),
  $body-1: mat-typography-level(14px, 1.4em, 400)
);
@include mat-core($general-typography);
$primary: mat-palette($md-primary);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
