@import "./variables";
@import "./fonts";
@import "./linearicon";
@import "./material";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
  color: $text;
  font-family: BandaRegular;
  font-size: 100%;
  letter-spacing: 0.04em;
  line-height: 1.4em;
  text-rendering: optimizeLegibility;
}

h1,
h2,
p {
  letter-spacing: 0.04em !important;
}

img,
.contact-map .background {
  transition: opacity 1s;
  opacity: 0;
  &.ng-lazyloaded {
    opacity: 1;
  }
}

.mat-typography h2 {
  margin-top: 25px !important;
}
.mat-typography p {
  margin: 0 0 22px !important;
}

mat-card.mat-card {
  color: $text;
  font-family: BandaRegular;
}

.mat-raised-button {
  font-family: BandaRegular;
  font-size: 16px;
  letter-spacing: .05em;
  text-transform: uppercase;
  vertical-align: middle;

  &.mat-primary {
    background-color: $accent-color;
    color: $text;
    font-weight: bold;
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $accent-color;
}

.mat-progress-bar-buffer {
  background-color: lighten($accent-color, 10%);
}

.mat-progress-bar-fill::after {
  background-color: $accent-color;
}

.cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-semi-selected),
.cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-semi-selected),
:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-semi-selected) {
  background-color: rgba($black, .04);
}

.cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-semi-selected,
.cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-semi-selected,
:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-semi-selected {
  background-color: $accent-color;
  color: $white;
}

.mat-calendar-body-selected {
  background-color: $accent-color;
  color: $white;
}

.mat-calendar-body-begin-range:not(.mat-calendar-body-end-range) {
  background-color: $calendar-background;
  border-radius: 100% 0 0 100%;
}

.mat-calendar-body-end-range:not(.mat-calendar-body-begin-range) {
  background-color: $calendar-background;
  border-radius: 0 100% 100% 0;
}

.mat-calendar-body > tr .mat-calendar-cell-semi-selected ~ .mat-calendar-cell-semi-selected {
  border-radius: 0;
}

.mat-calendar-cell-semi-selected {
  background-color: $calendar-background;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $text !important;
}