<div>
  <div class="mb-4 shadow-xl card bg-accent-content text-neutral-content">
    <div class="text-center card-body">
      <div class="mx-auto mb-4 avatar">
        <div class="w-48 rounded-full">
          <img
            appLazyLoadFade="assets/braxton/profile.png"
            alt="Braxton Diggs"
          />
        </div>
      </div>
      <div class="card-info">
        <h2 class="justify-center mb-2 text-3xl card-title">Braxton Diggs</h2>
        <p class="mb-4">Front-end Developer</p>
      </div>
      <app-social />
    </div>
  </div>
  <div class="shadow-xl card bg-base-100 min-h-80">
    <app-instagram />
  </div>
</div>
